html{
  background-color: aquamarine;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}


.container{
text-align: center;
border: 30px solid greenyellow;
border-radius: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}