html{
  background-color: aquamarine;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}


.container{
text-align: center;
border: 30px solid greenyellow;
border-radius: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: honeydew;
padding: 20px;
}

.inputclass{
  border: 4px solid rgb(231, 142, 142);
  font-size: 19px;

}

#output {
font-weight: bold;
color: hotpink;
}



  #dispform {
    border-bottom: 1px double blue;
  }
